<h1>THE STUDIOS</h1>
<% @studios.each do |studio| %>
  <section id="studio-<%=studio.id%>">
    <h2><%= studio.name %></h2>
    <% studio.movies.each do |movie|%>
      <p><%= movie.name %>
    <% end %>
  </section>
<% end %>